@import url("normalize.css");
html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cedfb2;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.area {
  background-color: #fff;
  width: 900px;
  height: 800px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc {
  margin: 0 auto;
  width: 500px;
  height: 600px;
  border: 0px solid dimgray;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#37b7ff), color-stop(65%, #b1ebff));
  background: linear-gradient(180deg, #37b7ff 0%, #b1ebff 65%);
  -webkit-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.5);
}

.calc__display {
  padding-left: 10px;
  padding-right: 15px;
  width: 75%;
  border: 3px solid black;
  border-radius: 12px;
  height: 90px;
  background-color: #838b7c;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.calc__display .display-number {
  font-size: 72px;
  letter-spacing: -5px;
  font-weight: 600;
}

.calc__display .display-action {
  font-size: 36px;
  font-weight: 600;
  line-height: 90px;
}

.calc__keys {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 75%;
  height: 370px;
  border-radius: 12px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f5ffe1;
  -webkit-box-shadow: inset 0px 2px 6px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 2px 6px 5px rgba(0, 0, 0, 0.5);
}

.calc__key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__key-1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.calc__key-2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.calc__key-3 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.calc__key-4 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.calc__key-5 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.calc__key-6 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.calc__key-7 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.calc__key-8 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.calc__key-9 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.calc__key-0 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.calc__key-plus {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.calc__key-minus {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.calc__key-umn {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.calc__key-divide {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
}

.calc__key-dot {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #4b4b4b;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 26px;
}

button:hover {
  background-color: #e6e6e6;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
