@import url('normalize.css');

html,
body {
	height: 100%;
	box-sizing: border-box;
	background-color: rgb(206, 223, 178);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: inherit;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.area {
	background-color: #fff;
	width: 900px;
	height: 800px;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0, 0.5);
	border-radius: 12px;
	display: flex;
	align-items: center;
	
}

.calc {
	margin: 0 auto;
	width: 500px;
	height: 600px;
	border: 0px solid rgb(105, 105, 105);
	border-radius: 15px;
    background: linear-gradient(180deg, rgba(55,183,255,1) 0%, rgba(177,235,255,1) 65%);
	box-shadow:  0px 6px 10px 3px rgba(0,0,0, 0.5);

	&__display {
		padding-left: 10px;
		padding-right: 15px;
		width: 75%;
		border: 3px solid black;
		border-radius: 12px;
		height: 90px;
		background-color: #838b7c;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 45px;
		position: relative;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		.display-number {
			font-size: 72px;
			letter-spacing: -5px;
			font-weight: 600;
		}
		.display-action {
			font-size: 36px;
			font-weight: 600;
			line-height: 90px;
		}
	}

	&__keys {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 10px;
		width: 75%;
		height: 370px;
		border-radius: 12px;
		padding: 15px;
		margin: 0 auto;
		background-color: #f5ffe1;
		box-shadow: inset 0px 2px 6px 5px rgba(0,0,0, 0.5)

	}

	&__key {
		display: flex;
		justify-content: center;
		align-items: center;
		&-1 {
			grid-column: 1;
		}
	
		&-2 {
			grid-column: 2;
		}
	
		&-3 {
			grid-column: 3;
		}
	
		&-4 {

			grid-column: 1;
		}
	
		&-5 {
			grid-column: 2;
		}
	
		&-6 {
			grid-column: 3;
		}
	
		&-7 {
			grid-column: 1;
		}
	
		&-8 {
			grid-column: 2;
		}
	
		&-9 {
			grid-column: 3;
			
		}
	
		&-0 {
			grid-column: 1;
		}
	
		&-plus {
			grid-column: 4;
			grid-row: 1;
		}
	
		&-minus {
			grid-column: 4;
			grid-row: 2;
		}
	
		&-umn {
			grid-column: 4;
			grid-row: 3;
		}
	
		&-divide {
			grid-column: 4;
			grid-row: 4;
		}	
		&-dot {
			grid-row: 4;
			grid-column: 2;
		}
	}
}

	
button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid rgb(75, 75, 75);
	box-shadow: 3px 3px 7px 0px rgba(0,0,0, 0.3);
	outline: none;
	transition: background-color 0.3s ease;
	font-weight: bold;
	font-size: 26px;
	&:hover {
		background-color: darken(#fff, 10%);
	}
	&:active {
		transform: translateY(2px);
	}
}